body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.loginForm {
    width: 40%;
    height: 300px;
    margin: auto;
    padding: 25px;
    padding-top: 20%;
    border-radius: 2px;
    padding-bottom: 100%;
    color: white;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #05630d;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #3c4747;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

label p {
    font-size: 9px;
}

.login {
    background-image: url('https://images.unsplash.com/photo-1518107784960-eb57c673a7ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.backBtn {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.pointMeasurements {
    max-width: 110px;
    display: block;
}

.declineButton {
    background-color: #ff4545
}